@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-montserrat: var(--font-montserrat);
}

.hero-background {
  background: radial-gradient(ellipse 140% 100% at bottom, #90DDD1 10%, #F7F6F4 55%, #EFFAFD 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  
  .hero-background {
    background: radial-gradient(ellipse 140% 100% at bottom, #649DE1 0%, #0C44A7 30%, #060606 60%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
